* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
}

@import url("https://fonts.googleapis.com/css2?family=Walter+Turncoat&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Encode+Sans:wght@100;200;300;400;500;600;700&family=Roboto:wght@400;700&family=Ubuntu+Mono:wght@700&display=swap');

html {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}

body {
    font-family: "Walter Turncoat", cursive;
    height: 85%;
    width: 100%;
    min-height: 576px;
    min-height: 842px;
    background-color: #90D8E0;
    display: flex;
    /*flex-direction: column;*/
    align-items: center;
    justify-content: center;
}
/* first page */
#homePage {
    display: none;
}
/* holds all the site */

#gamePage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*  background-image: url("./images/newBackground.png"); */
    background-image: url("../images/newBackground.png");
    background-size: cover;
    width: 95%;
    height: 100%;
    max-width: 1499px;
    /*margin-top: 10%;*/
    max-height: 842px;
    /*  max-height: 710px; */
    filter: drop-shadow(10px 10px 4px rgba(0, 0, 0, 0.25));
}

#config {
    display: flex;
    position: absolute;
    top: 10px;
    right: 0px;
    flex-direction: column-reverse;
    justify-content: flex-end;
    height: auto;
    width: 50px;
}

#icons-config {
    display: none;
    flex-direction: column;
}

#icons-cog {
    height: 45px;
    width: auto;
}

#icons-play, #icons-down, #icons-up, #icons-leaderboard, #icons-restart, #icons-home {
    height: 37px;
}

#icons-config > img:hover {
    transform: scale(1.2);
}

#icons-cog:hover {
    transform: scale(1.2);
}

#gameName {
    /*background-image: url("../images/logoGame.png");*/
    width: 557px;
    height: 100px;
    font-family: 'Ubuntu Mono', monospace;
    font-style: normal;
    font-weight: 700;
    font-size: 70px;
    line-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    letter-spacing: 0.08em;
    color: #EBB146;
    text-shadow: 5px 5px 11px #5C2D00;
    margin: 30px 0px;
}

@-webkit-keyframes expand {
    0% {
        letter-spacing: -0.5em;
        opacity: 0;
    }

    40% {
        opacity: 0.6;
    }

    100% {
        opacity: 1;
    }
}

@keyframes expand {
    0% {
        letter-spacing: -0.5em;
        opacity: 0;
    }

    40% {
        opacity: 0.6;
    }

    100% {
        opacity: 1;
    }
}

.expand {
    -webkit-animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
    animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

#upperGamePage {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    margin-top: 1px;
    /* flex-wrap: wrap; */
}

.sectionPlayer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
}

.playerData {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.playerHolder {
    background-color: #E3E3EB;
    position: relative;
    width: fit-content;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2px;
    border-radius: 25px;
    width: 175px;
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

#avatarHolder1, #avatarHolder2 {
    height: 100px;
    width: 100px;
}

figure {
    width: 95px;
    height: 80px;
    /* border-radius: 30px;
  border: #E3E3EB 2px solid; */
    top: -35px;
    object-fit: contain;
}

img {
    top: -8px;
    width: 100%;
    height: 100%;
}

.playerNames {
    top: -25px;
    font-size: 28px;
    color: #6f6f6f;
    font-weight: 700;
}

.score {
    top: -10px;
    font-size: 20px;
    font-weight: 600;
    color: #6f6f6f;
}

.meanings {
    background-image: url(../images/Group16.png);
    background-size: cover;
    box-sizing: border-box;
    width: 300px;
    height: 195px;
    color: white;
    justify-content: flex-end;
    align-items: center;
    display: flex;
    padding-bottom: 20px;
    flex-direction: column;
    text-align: center;
}

.meanings-box {
    overflow-y: auto;
    height: 130px;
    width: 250px;
}

.deckHolder {
    margin-top: 100px;
}

.decks {
    background-image: url("../images/image89.png");
    width: 300px;
    height: 85px;
    background-size: contain;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.gameButton {
    font-family: 'Ubuntu Mono', monospace;
    padding: 10px 20px;
    float: left;
    border-radius: 5px;
    font-size: 20px;
    color: #FFF;
    text-decoration: none;
    background-color: #2ecc71;
    border: none;
    border-bottom: 5px solid #27ae60;
    text-shadow: 0px -2px #27ae60;
    -webkit-transition: all 0.1s;
    transition: all 0.1s;
    top: -10px;
    cursor: pointer;
    font-weight: 700;
}

    .gameButton:hover, button:active {
        margin: 2px 0px;
        -webkit-transform: translate(0px,5px);
        -ms-transform: translate(0px,5px);
        transform: translate(0px,5px);
        border-bottom: 1px solid #2ecc71;
    }

.gameButtonEnd {
    font-family: 'Ubuntu Mono', monospace;
    padding: 10px 20px;
    float: left;
    border-radius: 5px;
    font-size: 20px;
    color: #FFF;
    text-decoration: none;
    background-color: #c9cc2e;
    border: none;
    border-bottom: 5px solid #a6a830;
    text-shadow: 0px -2px #c9cc2e;
    -webkit-transition: all 0.1s;
    transition: all 0.1s;
    top: -10px;
    cursor: pointer;
}

    .gameButtonEnd:hover, .gameButtonEnd:active {
        margin: 2px 0px;
        -webkit-transform: translate(0px,5px);
        -ms-transform: translate(0px,5px);
        transform: translate(0px,5px);
        border-bottom: 1px solid #a6a830;
    }

.gameButtonWait {
    font-family: 'Ubuntu Mono', monospace;
    padding: 10px 20px;
    float: left;
    border-radius: 5px;
    font-size: 20px;
    color: #FFF;
    text-decoration: none;
    background-color: #cc9a2e;
    border: none;
    border-bottom: 5px solid #9e792a;
    text-shadow: 0px -2px #cc9a2e;
    -webkit-transition: all 0.1s;
    transition: all 0.1s;
    top: -10px;
    cursor: pointer;
}

    .gameButtonWait:hover, .gameButtonWait:active {
        margin: 2px 0px;
        -webkit-transform: translate(0px,5px);
        -ms-transform: translate(0px,5px);
        transform: translate(0px,5px);
        border-bottom: 1px solid #9e792a;
    }


#gameboard-holder {
    padding: 0.5%;
    width: fit-content;
    background-color: rgba(0, 0, 0, 0);
    border: outset rgba(255, 255, 255, 0) 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: -7%;
}

    #gameboard-holder #gameboard {
        background-color: rgba(255, 255, 255, 0);
        padding: 1px;
        display: none;
    }

        #gameboard-holder #gameboard .row {
            /*height: 40px;*/
            margin: 2px 0px;
        }

            #gameboard-holder #gameboard .row .cell {
                width: 40px;
                height: 40px;
                border: solid rgb(0, 0, 0) 1px;
                display: flex;
                justify-content: center;
                align-items: center;
                font: bolder 66.6666666667% 'Walter Turncoat', cursive;
                color: rgba(0, 0, 0, 0.6);
                box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
                background-color: #cbe1daff;
                margin: 0px 1px;
                outline-color: transparent;
            }
#gameboard {
    background-repeat: no-repeat;
    background-size: 45% 45%;
    background-position: center;
}


.tripleWord {
    background-color: #1F604c !important;
}

.row {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    /* background-color: #cbe1da; */
}

.doubleWord {
    background-color: #45b392ff !important;
}

.tripleLetter {
    background-color: #a3d1e8ff !important;
}

.doubleLetter {
    background-color: #3c7490ff !important;
}

.pieceSmall {
    display: flex;
    justify-content: center;
    align-items: start;
    font-family: 'Walter Turncoat', cursive;
    font-size: 16px;
    color: rgb(110, 57, 57);
    width: 31px;
    height: 31px;
    background-image: url('../images/indice.jpg');
    border-radius: 4px;
    font-weight: 700;
    margin: 2px 2px;
    box-shadow: 3px 3px 4px #e4e2e2, 3px 0 2px rgba(253, 253, 253, 0.4) inset, 0 3px 0 rgba(213, 178, 146, 0.5) inset, -3px -4px 0 rgba(255, 255, 255, 0.6) inset;
    top: -7px;
    z-index: 4;
    cursor: grab;
}

.piece-numberSmall {
    font-size: 13px;
    position: relative;
    right: -1px;
    top: 13px;
}

.pieceSmall:active {
    cursor: grabbing;
}

/* #fence {
  background-image: url("./images/Fence.png");
  width: 100%;
  height: 80px;
}
 */

/* css avatar modal */
.modal-avatar {
    font-family: "Walter Turncoat", cursive;
    width: 100%;
    height: 100%;
    display: flex;
    max-width: 1980px;
    max-height: 845px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #60a6a4fc;
    position: absolute;
    box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.25);
    z-index: 5;
    top: 0;
}

.modal-avatar-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    border-radius: 20px;
}

.heading > h6 {
    color: snow;
    font-size: medium;
    margin: 0 0 30px 0;
}

.heading {
    text-align: center;
    margin-bottom: 0px;
}

    .heading h1 {
        color: snow;
    }

.heading p {
    margin: 0;
}

.heading {
    color: #2e5266;
    display: inline-block;
}

    .heading .fab {
        margin-right: 0.5rem;
        font-size: 1.5rem;
        padding: 0.5rem;
        margin-top: 0.5rem;
    }

.container {
    display: flex;
    width: 100%;
    min-width: 1400px;
    align-items: center;
    justify-content: center;
    position: relative;
}

    .container .ui-card {
        display: none;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: auto;
        width: 10vw;
        border-radius: 2.5rem;
        position: relative;
        z-index: 1;
        transform: scale(0.6) translateY(-2rem);
        opacity: 0;
        cursor: pointer;
        pointer-events: none;
        transition: 1s;
        font-family: "Walter Turncoat", cursive;
        font-size: 28px;
        font-weight: 400;
        color: #fff;
        margin: 60px 0;
    }

        .container .ui-card:after {
            display: flex;
            content: "";
            position: absolute;
            height: 3px;
            width: 100px;
            border-radius: 100%;
            background-color: rgba(0, 0, 0, 0.25);
            bottom: -15px;
            filter: blur(4px);
        }

        .container .ui-card:nth-child(0):before {
            display: flex;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translateX(-50%) translateY(-50%);
        }

        .container .ui-card:nth-child(1):before {
            display: flex;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translateX(-50%) translateY(-50%);
        }

        .container .ui-card:nth-child(2):before {
            display: flex;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translateX(-50%) translateY(-50%);
        }

        .container .ui-card:nth-child(3):before {
            display: flex;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translateX(-50%) translateY(-50%);
        }

        .container .ui-card:nth-child(4):before {
            display: flex;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translateX(-50%) translateY(-50%);
        }

        .container .ui-card:nth-child(5):before {
            display: flex;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translateX(-50%) translateY(-50%);
        }

        .container .ui-card:nth-child(6):before {
            display: flex;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translateX(-50%) translateY(-50%);
        }

        .container .ui-card:nth-child(7):before {
            display: flex;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translateX(-50%) translateY(-50%);
        }

        .container .ui-card:nth-child(8):before {
            display: flex;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translateX(-50%) translateY(-50%);
        }

        .container .ui-card:nth-child(9):before {
            display: flex;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translateX(-50%) translateY(-50%);
        }

        .container .ui-card:nth-child(10):before {
            display: flex;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translateX(-50%) translateY(-50%);
        }

        .container .ui-card:nth-child(11):before {
            display: flex;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translateX(-50%) translateY(-50%);
        }

        .container .ui-card:nth-child(12):before {
            display: flex;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translateX(-50%) translateY(-50%);
        }

        .container .ui-card:nth-child(13):before {
            display: flex;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translateX(-50%) translateY(-50%);
        }

        .container .ui-card:nth-child(14):before {
            display: flex;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translateX(-50%) translateY(-50%);
        }

        .container .ui-card:nth-child(15):before {
            display: flex;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translateX(-50%) translateY(-50%);
        }

        .container .ui-card:nth-child(16):before {
            display: flex;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translateX(-50%) translateY(-50%);
        }

        .container .ui-card:nth-child(17):before {
            display: flex;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translateX(-50%) translateY(-50%);
        }

        .container .ui-card:nth-child(18):before {
            display: flex;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translateX(-50%) translateY(-50%);
        }

        .container .ui-card:nth-child(19):before {
            display: flex;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translateX(-50%) translateY(-50%);
        }

        .container .ui-card.active {
            display: flex;
            z-index: 3;
            transform: scale(1.5) translateY(-10%) translateX(0);
            opacity: 1;
            pointer-events: auto;
            margin: 0 30px;
            transition: 1s;
        }

        .container .ui-card.prev,
        .container .ui-card.next {
            display: flex;
            z-index: 2;
            transform: scale(1) translateY(-1rem) translateX(0);
            opacity: 0.7;
            pointer-events: auto;
            transition: 1s;
        }

.input {
    z-index: 6;
    font-family: 'Walter Turncoat', cursive;
    padding: 10px 20px;
    float: left;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    color: snow;
    text-decoration: none;
    background-color: #2ecc71;
    border: none;
    border-bottom: 5px solid #27ae60;
    text-shadow: 0px -2px #27ae60;
    -webkit-transition: all 0.1s;
    transition: all 0.1s;
    top: -10px;
    cursor: pointer;
    margin-top: 20px;
}

#player-two {
    display: none;
    height: 157px;
    width: 300px;
}

.player {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.button-modal-input {
    display: flex;
    align-items: center;
    justify-content: center;
}

.images {
    all: unset;
}

#btn-choose {
    height: 45%;
}

#modal-tutorial, #modal-tutorial * {
    display: none;
}

#modal-tutorial {
    position: absolute;
    align-items: center;
    justify-content: center;
    background-color: rgb(0 0 0 / 92%);
    height: 100vh;
    width: 100vw;
}

.modal-tutorial-steps {
    width: 60%;
    height: 55%;
    max-width: 1152px;
    max-height: 594px;
    background-color: #90D8E0;
    border-radius: 10px;
    min-width: 650px;
    min-height: 475px;
}

.tutorial-content {
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
    width: 100%;
}
    .tutorial-content > div {
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        height: 100%;
    }

#modal-tutorial-step-one {
    display: flex;
}

#tutorial-step-two-board {
    background-image: url("/images/tutorial/board.png");
    height: 172px;
    width: 172px;
}

#tutorial-step-two-holder {
    background-image: url("/images/tutorial/holder.png");
    height: 106px;
    width: 231px;
    background-size: contain;
    background-repeat: no-repeat;
    justify-content: center;
}
#tutorial-piece {
    background-image: url("/images/tutorial/a.png");
    height: 75px;
    width: 75px;
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
    top: -5%;
    cursor: grab;
}

    #tutorial-piece:active {
        cursor: grabbing;
    }

#tutorial-card {
    width: 262px;
    height: 375px;
    justify-content: space-between;
}
#tutorial-card * {
    font-size: 30px;
}
#tutorial-card figure {
   width: 150px; 
   height: 150px;
}
#tutorial-card-name {
    font-size: 50px;
}
#tutorial-step-content-one {
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}

#tutorial-mr-cow {
    height: 400px;
    width: auto;
}

#btn-tutorial-step-one{
    margin: 20px 0 10px 0;
}

#special-tiles {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    gap: 25px;
}

#special-tiles *{
    font-family: 'Ubuntu Mono', monospace;
    font-size: 24px !important;
}
#name1, #name2 {
    text-align: center;
    color: snow;
    font-size: 48px;
    font-weight: 900;
    width: 300px;
    height: 68px;
}

.form__group {
    position: relative;
    padding: 15px 0 0;
    margin-top: 10px;
    width: 300px;
}

.form__field {
    font-family: "Walter Turncoat", cursive;
    border: 0;
    border-bottom: 2px solid #c9e3ea;
    outline: 0;
    font-size: 1.3rem;
    color: snow;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
    text-align: center;
}

.placed {
    width: 34px;
    height: 34px;
    box-shadow: none;
    /*box-shadow: 1px 1px 2px #e4e2e2, 1px 0 1px rgba(253, 253, 253, 0.4) inset, 0 1px 0 rgba(213, 178, 146, 0.5) inset, -1px -1px 0 rgba(255, 255, 255, 0.6) inset;*/
}

    .form__field::placeholder {
        color: transparent;
    }

    .form__field:placeholder-shown ~ .form__label {
        font-size: 1.15rem;
        cursor: text;
        top: 33%;
    }

.form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: #c9e3ea;
}

.form__field:focus {
    padding-bottom: 6px;
    font-weight: 700;
    border-width: 3px;
    border-image: linear-gradient(to right, #c9e3ea, #9dbec7);
    border-image-slice: 1;
}

    .form__field:focus ~ .form__label {
        position: absolute;
        top: 0;
        display: block;
        transition: 0.2s;
        font-size: 1.1rem;
        color: #c9e3ea;
        font-weight: 700;
    }
/* reset input */
.form__field:required, .form__field:invalid {
    box-shadow: none;
}

#modal-winner {
    display: none;
    position: absolute;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    background: #000000e8;
    align-items: center;
    justify-items: end;
    flex-direction: column;
    align-content: space-between;
    flex-wrap: nowrap;
    z-index: 5;
}

#closeModal {
    width: 50px;
    height: 60px;
    cursor: pointer;
}

#mrLogo {
    width: auto;
    height: 400px;
}

#winnerName {
    color: #d6dded;
}

#winnerData {
    color: #d6dded;
    text-align: center;
    width: 500px;
}

#holder-mrlogo {
    display: flex;
    font-size: 40px;
    width: 100%;
    justify-content: space-evenly;
}

#holder-winner {
    display: flex;
    font-size: 40px;
    width: 850px;
    height: 500px;
    justify-content: space-around;
    flex-direction: column;
    align-items: flex-end;
    background: #5f9ea0;
    border-radius: 10px;
}

@media (max-width: 1300px) {

    #gamePage {
        background-size: contain;
        height: 576px;
        width: 1024px;
        border: none;
        filter: none;
        border-radius: 0;
    }

    #gameName {
        font-size: 55px;
        margin: 0;
        width: 432px;
        height: 70px;
    }

    .placed {
        width: 23px;
        height: 23px;
    }
    .pieceSmall {
        width: 23px;
        height: 23px;
        box-shadow: none;
        font-size: 12px;
    }
    .piece-numberSmall {
        font-size: 9px;
        right: -2px;
        top: 10px;
    }
    #gameboard-holder {
        top: -5%;
    }

        #gameboard-holder #gameboard .row {
            /*height: 40px;*/
            margin: 1.5px 0px;
        }

            #gameboard-holder #gameboard .row .cell {
                width: 27px;
                height: 27px;
            }

    .sectionPlayer {
        width: 285px;
    }

    .playerHolder {
        height: 235px;
        justify-content: flex-end;
    }

    .meanings {
        width: 241px;
        height: 160px;
    }

    .meanings-box {
        overflow-y: auto;
        height: 105px;
        width: 195px;
        font-size: 12px;
    }

    .deckHolder {
        margin-top: 0px;
    }

    .decks {
        background-image: url("../images/image89.png");
        width: 267px;
        height: 79px;
        background-repeat: no-repeat;
    }
}