@import url("https://fonts.googleapis.com/css2?family=Walter+Turncoat&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Encode+Sans:wght@100;200;300;400;500;600;700&family=Roboto:wght@400;700&family=Ubuntu+Mono:wght@700&display=swap');
/*font-family: 'Ubuntu Mono', monospace;*/

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	position: relative;
}

body {
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: "Walter Turncoat", cursive;
	background-color: #90D8E0;
}

#homePage {
	height: 100%;
	width: 100%;
	max-width: 1500px;
	min-width: 1024px;
	max-height: 845px;
	display: flex;
	flex-flow: column;
	align-content: space-between;
	background-image: url("/images/background.png");
	background-size: cover;
	background-repeat: no-repeat;
	box-shadow: rgba(0, 0, 0, 0.25) 4px 4px 4px 4px;
	filter: drop-shadow(rgba(0, 0, 0, 0.25) 10px 10px 4px);
	border-radius: 20px;
}

#home-page-top {
	height:90%;
	display:flex;
	justify-content: space-around;
	align-items: flex-end;
}
#home-page-left {
	width: 50%;
	height: 100%;
	display: flex;
	align-items: flex-start;
	background-image: url(/images/hangingBoard.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	flex-direction: column;
	justify-content: flex-end;
}
#hanging-board {
	display: flex;
	flex-direction: column;
}
#game-name {
	width: 350px;
	text-decoration: none;
	background: transparent;
	cursor: pointer;
	position: relative;
	top: 60%;
	left: 86%;
	font-family: 'Ubuntu Mono', monospace;
	font-weight: 700;
	font-size: 30px;
	line-height: 165%;
	display: flex;
	flex-direction: column;
	color: #CEFCFF;
	border: none;
	text-shadow: 5px 5px 5px #5C2D00;
	transform: rotate(2.78deg);
	justify-content: center;
	text-align: center;
}
	#game-name > h1 {
	
	letter-spacing: 0.009em;
	}
	#game-name > h2 {
		letter-spacing: 0.04em;
	}
#home-page-right {
	width: 25%;
	height: 100%;
	display: flex;
	align-items: flex-end;
	justify-content: center;
}

#fence {
	width: 100%;
	height: auto;
}

img {
	width: 100%;
	height: 100%;
}

#mr-cow {
	display:flex;
	width: 25%;
}

/*#title {
	margin-top: 25vh;
	justify-content: center;
	align-items: center;
}*/
#homeButton {
	display: flex;
	height: 40%;
	align-items: flex-end;
	background-image: url("/images/arrowBoard.png");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: bottom;
}

	#homeButton > button {
		top: -57%;
		font-size: 55px;
	}

#firstTitle {
	display: flex;
	justify-content: center;
	align-items: center;
}
#secondTitle {
	display: flex;
	justify-content: center;
	align-items: center;
}
.rotate1 {
	transform: rotate(3deg);
}

.rotate2 {
	transform: rotate(-3deg);
}

.piece-number {
	font-size: medium;
	position: relative;
	right: -15px;
	bottom: -20px;
}

.piece {
	display: flex;
	align-items: center;
	font-size: xxx-large;
	color: snow;
	width: 100px;
	height: 100px;
	border: 3px solid snow;
	font-weight: 400;
	margin: 15px 10px;
	padding-left: 10px;
	box-shadow: inset -2px -2px 2px snow,
		inset 1px 1px 1px snow;
}
button {
	width: 350px;
	text-decoration: none;
	background: transparent;
	cursor: pointer;
	position: relative;
	top: -46.5%;
	left: 5%;
	font-family: 'Ubuntu Mono', monospace;
	font-weight: 700;
	font-size: 65px;
	line-height: 100%;
	display: flex;
	color: #CEFCFF;
	border: none;
	text-shadow: 5px 5px 5px #5C2D00;
	transform: rotate(16.72deg);
	justify-content: center;
}

	button:hover {
		transform: rotate(16.72deg) scale(1.1);
	}


#gamePage {
    display: none;
}

#modal-tutorial *{ 
	display: none;
  }

#modal-winner {
	display: none;
}

@media (max-width: 1280px) {

	#homePage {
		max-height: 710px;
		border: none;
		filter: none;
		border-radius: 0;
	}
	#game-name {
		top: 60%;
		left: 72%;
		font-size: 25px;
	}
	#homeButton > button {
		font-size: 45px;
		top: -57%;
	}
}


	@media (max-width: 1024px) {
		#homePage {
			background-size: contain;
			max-height: 576px;
			border: none;
			filter: none;
			border-radius: 0;
		}
		#game-name {
			top: 60%;
			left: 48%;
			font-size: 20px;
		}
		#homeButton > button {
			font-size: 35px;
			top: -55.5%;
			letter-spacing: 0.01em;
		}
		
	}
