@import url("https://fonts.googleapis.com/css2?family=Walter+Turncoat&display=swap");
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	position: relative;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: "Walter Turncoat", cursive;
	background-image: url("/images/Chalkboard.png");
}

#title {
	margin-top: 25vh;
	justify-content: center;
	align-items: center;
}

#homeButton {
	display: flex;
	justify-content: center;
	align-items: center;
}

button:hover {
	border: 5px solid snow;
	font-weight: 600;
	font-size: x-larger;
	transform: scale(1.1);
}

#firstTitle {
	display: flex;
	justify-content: center;
	align-items: center;
}
#secondTitle {
	display: flex;
	justify-content: center;
	align-items: center;
}
.rotate1 {
	transform: rotate(3deg);
}

.rotate2 {
	transform: rotate(-3deg);
}

.piece-number {
	font-size: medium;
	position: relative;
	right: -15px;
	bottom: -20px;
}

.piece {
	display: flex;
	align-items: center;
	font-size: xxx-large;
	color: snow;
	width: 100px;
	height: 100px;
	border: 3px solid snow;
	font-weight: 400;
	margin: 15px 10px;
	padding-left: 10px;
	box-shadow: inset -2px -2px 2px snow,
		inset 1px 1px 1px snow;
}
button {
	padding: 1rem 2rem;
	margin-top: 4rem;
	width: 350px;
	text-decoration: none;
	font-family: "Walter Turncoat", cursive;
	background: transparent;
	color: snow;
	border: 3px solid snow;
	font-size: larger;
	cursor: pointer;
	text-align: center;
	box-shadow: inset -1px -1px 3px
		rgba(0, 0, 0, 0.33);
}

#gamePage {
    display: none;
}