* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
}

@import url("https://fonts.googleapis.com/css2?family=Walter+Turncoat&display=swap");

body {
    font-family: "Walter Turncoat", cursive;
    height: 85vh;
    width: 100vw;
    min-width: 1400px;
    background-color: #90D8E0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
/* holds all the site */
#gamePage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("./images/newBackground.png");
    background-size:contain;
    width: 95%;
    height: 100%;
   /*  max-width: 1600px; */
    margin-top: 10%;
    min-width: 1240px;
   /*  max-height: 710px; */
    min-height: 700px;
    filter: drop-shadow(10px 10px 4px rgba(0, 0, 0, 0.25));
}

#gameName {
  background-image: url("./images/group15.png");
  width: 253px;
  height: 65px;
  box-sizing: border-box;
  background-size: cover;
  /* align-self: flex-start; */
  margin: 2px 0px;
}

#upperGamePage {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    margin-top: 1px;
    /* flex-wrap: wrap; */
}

.sectionPlayer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
}

.playerData {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.playerHolder {
  background-color: #E3E3EB;
  position: relative;
  width: fit-content; 
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2px;
  border-radius: 45px;
  max-width: 200px;
  min-width: 130px;
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);   
}

figure {
  width: 95px;
  height: 80px;
  border-radius: 30px;
  border: #E3E3EB 2px solid;
  top: -35px;
  object-fit: contain;
}

img {
  top: -8px;
  width: 100%;
  height: 100%;
}

.playerNames {
  top: -15px
}

.score {
  top: -10px;
}

.meanings {
  background-image: url("./images/Group16.png");
  background-size: cover;
  width: 265px;
  height: 176px;
}

.deckHolder {
  margin-top: 100px;
}

.decks {
  background-image: url("./images/image89.png");
  width: 265px;
  height: 70px;
  background-size:contain;
}
.gameButton {
  padding: 10px 20px;
  float: left;
  border-radius: 5px;
  font-size: 20px;
  color: #FFF;
  text-decoration: none;
  background-color: #2ecc71;
  border: none;
  border-bottom: 5px solid #27ae60;
  text-shadow: 0px -2px #27ae60;
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
  top: -10px;
}

.gameButton:hover, button:active {
  margin: 2px 0px;
  -webkit-transform: translate(0px,5px);
  -ms-transform: translate(0px,5px);
  transform: translate(0px,5px);
  border-bottom: 1px solid #2ecc71;
 }

#gameboard-holder {
    padding: 0.5%;
    width: fit-content;
    background-color: rgba(0, 0, 0, 0);
    border: outset rgba(255, 255, 255, 0) 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* margin-bottom: 55px; */
  }

#gameboard-holder #gameboard {
  background-color: rgba(255, 255, 255, 0);
  padding: 1px;
  display: block !important;
}

#gameboard-holder #gameboard .row {
  height: 40px;
  margin: 2px 0px;
}

#gameboard-holder #gameboard .row .cell {
  width: 40px;
  height: 40px;
  border: solid rgb(0, 0, 0) 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  font: bolder 66.6666666667% "Open Sans", sans-serif;
  color: rgba(0, 0, 0, 0.6);
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-color: #cbe1da;
  margin: 0px 1px;
  outline-color: transparent;
}

.tripleWord {
  background-color: #1F604C !important;
}

.row {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  /* background-color: #cbe1da; */
}

.doubleWord {
  background-color: #45B392 !important;
}

.tripleLetter {
  background-color: #A3D1E8 !important;
}

.doubleLetter {
  background-color: #3C7490 !important;
}
